<div class="container">

	<div class="row">
		<div class="col-sm-2">
			<h1>The Taj</h1>
		</div>
		<div class="col-sm-2">
			<img src="image/a.jpg" class="grow" />
		</div>
		<div class="col-sm-2">
			<p>Price </p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<h1>Maurya</h1>
		</div>
		<div class="col-sm-2">
			<img src="image/b.jpg" class="grow" />
		</div>
		<div class="col-sm-2">
			<p>Price </p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<h1>The Grand</h1>
		</div>
		<div class="col-sm-2">
			<img src="image/c.jpg" class="grow" />
		</div>
		<div class="col-sm-2">
			<p>Price </p>
		</div>
	</div>



</div>