<div class="login-container">
	<div class="login-box">
		<div><p class="login-title">Login to plnkr</p></div>

		<div class="login-third-party-login"><p class="login-button-info-text login-info-text">EASILY USING</p>
			<div class="login-button-container">
				<button class="login-facebook login-button">
					<span class="header-sprite login-fb-logo"></span><!-- react-text: 11 -->FACEBOOK<!-- /react-text --></button>
				<button class="login-google login-button" id="gPlusLogin"><span class="header-sprite login-gplus-logo"></span><!-- react-text: 14 -->GOOGLE<!-- /react-text --></button>
			</div>
		</div>
		<p class="login-info-text">- OR USING EMAIL -</p>
		<form class="login-login-form" novalidate="">
			<fieldset class="login-input-container">
			<div class="login-input-item">
				<input type="email" class="login-user-input-email login-user-input" name="email" placeholder="Your Email Address">
			</div>
			<div class="login-input-item"><input type="password" class="login-user-input-password login-user-input" name="password" placeholder="Enter Password">
			</div>
			<input type="hidden" name="xsrf" value="btMcHCbqKUjZVq0Y6FW4Ly3o0Ytz7Nmc">
			</fieldset>
			<fieldset class="login-login-button-container">
				<button class="login-login-button">Log in</button>
			</fieldset>
		</form>
		<div class="login-link-container">
			<a class="login-link" href="/forgot?referer=/">Recover password</a>

			<div class="login-right-links">

				<span class="login-info-text">New to Myntra?</span>

				<a class="login-create-account-link login-link" href="/register?referer=/">Create Account</a>
			</div>
		</div>

	</div>
	</div>
